{% extends "layout.html" %}

{% block title %} Add Task {% endblock %}

{% block description %}
Enter a task to add it to the database. If a field is not required you may leave it blank.
{% endblock %}

{% block image %}
{% endblock %}

{% block content %}
<br>
<div>
  <form action="/add_task", method="POST">
  Task Name:
  <input type="text" name="m_task" placeholder="Fertilise Tomato Plants"><br>
  Description:
  <input type="text" name="m_description"><br>
  Start Date:
  <input type="date" name="m_start_date"><br>
  Frequency:
  <select name="m_frequency">
    <option value="Daily">Daily</option>
    <option value="Weekly">Weekly</option>
    <option value="Fortnightly">Fortnightly</option>
    <option value="Monthly">Monthly</option>
    <option value="Yearly">Yearly</option>
  </select>
  Fertiliser required (grams):
  <input type="number" name="m_fertiliser" value="0"><br>
  People Assigned:
  <input type="text" name="m_people" placeholder="John, Liam, Jessica"><br>

  <button class="sub" type="submit">Add</button>
  </form>
</div>
{% endblock %}