{% extends "layout.html" %}

{% block title %} Eco Squad Calendar {% endblock %}

{% block description %}
Subscribe to get updates and notifications in your calendar.
{% endblock %}

{% block image %}
{% endblock %}

{% block content %}
<a href="https://outlook.live.com/owa/calendar/00000000-0000-0000-0000-000000000000/9fd2bd6f-fe78-4b25-af82-d3f8d4adf997/cid-7263DDB90F5F1EDA/calendar.ics" class="btn btn-info" role="button">Subscribe to Calendar</a> <br>
<br>
<iframe class="cal" src="https://outlook.live.com/calendar/0/published/00000000-0000-0000-0000-000000000000/9fd2bd6f-fe78-4b25-af82-d3f8d4adf997/cid-7263DDB90F5F1EDA/calendar.html" scrolling="no" width="1200" height="700" frameborder="0">
{% endblock %}