{% extends "layout.html" %}

{% block title %} Update Project {% endblock %}

{% block description %}
Enter the ID of the Project you would like to update, then change the required fields.
{% endblock %}

{% block image %}
{% endblock %}

{% block content %}
<br>
<div>
  <form action="/modify_project", method="POST">
    ID:
    <input type="number" name="m_id" value=1><br>
    Updated Project Name:
    <input type="text" name="m_project"><br>
    Updated Description:
    <input type="text" name="m_description"><br>
    Updated Frequency:
    <select name="m_frequency">
      <option value="Daily">Daily</option>
      <option value="Weekly">Weekly</option>
      <option value="Fortnightly">Fortnightly</option>
      <option value="Monthly">Monthly</option>
      <option value="Yearly">Yearly</option>
    </select>
    Updated Start Date:
    <input type="date" name="m_start_date"><br>
    Updated End Date:
    <input type="date" name="m_end_date"><br>
    Updated People Assigned:
    <input type="text" name="m_people"><br>

    <button class="sub" type="submit">Update</button>
  </form>
</div>

{% endblock %}