{% extends "layout.html" %}

{% block title %} New Project {% endblock %}

{% block description %}
{% endblock %}
{% block image %}
{% endblock %}

{% block content %}
<br>
<div>
    <form action="/add_project", method="POST">
    Project Name:
    <input type="text" name="m_project"><br>
    Description:
    <input type="text" name="m_description"><br>
    Frequency:
    <select name="m_frequency">
        <option value="Daily">Daily</option>
        <option value="Weekly">Weekly</option>
        <option value="Fortnightly">Fortnightly</option>
        <option value="Monthly">Monthly</option>
        <option value="Yearly">Yearly</option>
      </select>
    Start Date:
    <input type="number" name="m_start_date"><br>
    End Date:
    <input type="number" name="m_end_date"><br>
    People Assigned:
    <input type="text" name="m_people"><br>

    <button class="sub" type="submit">Add</button>
    </form>
</div>
{% endblock %}

{% block main_table %} {% endblock %}