{% extends "layout.html" %}

{% block title %} Projects {% endblock %}

{% block description %}
{% endblock %}
{% block image %}
{% endblock %}

{% block content %}
<br>
<div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search...">
    <br>
    <table id="myTable" class="table">
        <thead>
            <th>ID</th>
            <th>Project</th>
            <th>Description</th>
            <th>Frequency</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>People Assigned</th>
        </thead>
        {% for c in projects %}
        <tr>
            <td>{{ c[0] }}</td>
            <td><a href="/details" class="detail">{{ c[1] }}</a></td>
            <td>{{ c[2] }}</td>
            <td>{{ c[3] }}</td>
            <td>{{ c[4] }}</td>
            <td>{{ c[5] }}</td>
            <td>{{ c[6] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="sort_by_dsc" class="btn btn-info" role="button">Sort By Due Date</a>
</div>
<a href="/new_project" class="btn btn-info" role="button">Add Project</a>
<a href="/remove_project" class="btn btn-info" role="button">Remove Project</a>
<a href="/update_project" class="btn btn-info" role="button">Update Project</a>
{% endblock %}
{% block main_table %} {% endblock %}